{% extends "index_admin.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='accueil_admin.css')}}">
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
<div class="accueil-admin"> 
<main class="main-accueil">
    <h2>Bienvenue admin</h2>
    <h3>Les derniers news</h3>
    <canvas id="myChart"></canvas>

    <h4><a href="{{ url_for('utilisateurs.lesUtilisateurs')}}">Récents inscrits</a></h4>
    <div class ="inscrit">
        {% for x in user  %}
        <section >
            <p class="nom">{{ x.mail }}</p>
        </section>

        {% endfor %}
    </div>
    
    <h4><a href="{{ url_for('admin.lesAvis') }}">Récents avis</a></h4>

    <div class ="avis">
        {% for x in avis  %}
        <section >
            <p class="nom">{{ x[1].prenom }} {{ x[1].nom }}</p>
            <p>{{ x[0].desc_avis  }}</p>
        </section>

        {% endfor %}
    </div>

</main><script>
    fetch('/data/inscriptions')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('myChart').getContext('2d');

            new Chart(ctx, {
                type: 'bar', 
                data: {
                    labels: data.labels, 
                    datasets: [{
                        label: 'Inscriptions par jour',
                        data: data.values, 
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1, 
                            callback: function(value, index, values) {
                                return Number.isInteger(value) ? value : null; 
                            }
                        }
                    }
                }
            }

            });
        })
        .catch(error => console.error('Erreur lors du chargement des données', error));
</script>   
    
{% endblock %}