{% extends "index2.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='affichageLogements.css')}}">

{% endblock %}
{% block scripts %}
{{ super() }}
<!-- import JS -->
<script src="{{ url_for('static', filename='js/affichage_logements.js') }}"></script> 
{% endblock %}  
{% block content %}
<div class="img-rents">
    <img src="{{ url_for('static', filename='img/logement.jpg') }}" alt="exemplelogement">
    <h1>Consultez vos logements ici</h1>
    <p>Retrouvez ici tous les logements que vous avez enregistrés sur notre plateforme. Gérez, modifiez et consultez facilement les informations de vos biens en quelques clics.</p>
</div>

{% endblock %}

