{% extends "index.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='information2.css')}}">
{% endblock %}
{% block content %}
  <div class="header-services">
    <p>Une multitude de fonctionnalitées pour un esprit serein ...</p>
    <h1>Nos services</h1>
  </div>
  <div class="cards-display">
    <article class="card">
      <div class="face face1">
        <div class="content">
          <h2>Enregister</h2>
        </div>
      </div>
      <div class="front-hide">
        <img src="{{ url_for('static', filename="img/enregistrer2.png")}}" alt="icone enregistrer">
        <h3>Enregistrer</h3>
        <p>Enregistrez vos biens personnels en tout genre : propriétés, fournitures ...</p>
      </div>
    </article>
    <article class="card">
      <div class="face face2">
        <div class="content">
          <h2>Justifier</h2>
        </div>
      </div>
      <div class="front-hide">
        <img src="{{ url_for('static', filename="img/justificatifs2.png")}}" alt="icone justificatif">
        <h3>Justifier</h3>
        <p>Justifiez chacun de vos bien afin de garder une trace... et une conscience tranquille</p>
      </div>
    </article>
    <article class="card">
      <div class="face face3">
        <div class="content">
          <h2>Télécharger</h2>
        </div>
      </div>
      <div class="front-hide">
        <img src="{{ url_for('static', filename="img/inventaire2.png")}}" alt="icone inventaire">
        <h3>Télécharger</h3>
        <p>Télécharger instantanement votre inventaire pour une petite révision hebdomadaire</p>
      </div>
    </article>
    <article class="card">
      <div class="face face4">
        <div class="content">
          <h2>Protéger</h2>
        </div>
      </div>
      <div class="front-hide">
        <img src="{{ url_for('static', filename="img/telecharger2.png")}}" alt="icone telecharger">
        <h3>Protéger</h3>
        <p>Protégez vos biens à l'aide d'un inventaire complet et estimé selon leur vetusté</p>
      </div>
    </article>
</div>
{% endblock %}