
#panneau-droit {
    visibility: hidden;
    position: fixed;
    right: 0;
    top : 98px;
    width: 250px;
    height: 45%;
    opacity: 0;
    transform: translateX(100%);
    background-color: rgba(255,255,255,0.8);
    box-sizing: border-box;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s; 
}

#panneau-droit.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    
}

.modal-header {
    background-color: initial;
    background-image: linear-gradient(-180deg, #5e5df0, #2a2ae7);
    color: #FFFFFF;
}


#btn-fermer {
    background-color: initial;
    background-image: linear-gradient(-180deg, #5e5df0, #2a2ae7);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
}

#btn-fermer:hover {
  box-shadow: rgba(55, 0, 255, 0.5) 0 3px 8px;
}

.modal-body ul {
    display: flex;
    flex-direction: column;
    font-size: 30px ;
    justify-content: center;
    align-items: center;
}

  
#lien-info-compte,
#lien-aide-compte,
#lien-deconnexion,
#lien-tutoriel {
    display: block;    
    width: 100%;       
    text-align: center; 
    padding: 10px 0;    
    color: inherit;   
    text-decoration: none; 
    white-space: nowrap;   
    
}

#lien-info-compte:hover,
#lien-aide-compte:hover,
#lien-deconnexion:hover,
#lien-tutoriel:hover {
    background-color: rgb(219, 219, 219);
}