/* Inspired of https://prismic.io/blog/css-hover-effects */

main {
    margin-top: 50px;
    padding: 2%;
}

footer {
    position: absolute;
    bottom: 0;
}

.header-services p {
    font-weight: 300;
    font-style: italic;
    font-size: large;
}

.header-services {
    margin-bottom: 50px;
}
  
.cards-display {
    width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
}

.cards-display .card {
    margin : 10px;
    width : 400px;
    height : 350px;
    padding: 6%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card h3 {
    text-align: center;
}

.card img {
    width : 150px;
    height : 140px;
    margin-bottom: 10px;
    margin-left: 27%;
}

.card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .face.face1{
    background: #ff790a;
    transition: 0.5s;
}

.card .face.face2{
    background: #53b9bd;
    transition: 0.5s;
}

.card .face.face3{
    background: #0565f2;
    transition: 0.5s;
}

.card .face.face4{
    background: #de4070;
    transition: 0.5s;
}

.card:hover .face{
    height: 60px;
    border-radius: 0 0 15px 15px;
}

.card .face:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }

.card:hover .face h2{
    font-size: 2em;
}

.face h2 {
    color: white;
}

#color-1 {
    height : 10px;
    width: 100%;
    background-color: #ff790a;
}

#color-2 {
    height : 10px;
    width: 100%;
    background-color: #53b9bd;
}

#color-3 {
    height : 10px;
    width: 100%;
    background-color: #0565f2;
}

#color-4 {
    height : 10px;
    width: 100%;
    background-color: #de4070;
}