
.apropos {
    background-color: #612bb7;
    display: block;
    width:100%;
    text-align: center;
    padding: 2%;
    font-size: 50px;  
    color: white;
}

.paragraphe1 {
    display: block;
    width:100%;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
.paragraphe2 {
    display: block;
    text-align: left;
    padding: 2%;
}

.paragraphe3 {
    display: block;
    text-align: right;
    padding: 2%;
}

.inscrire {
    display: block;
    text-align: center;
    padding: 20px;
}

p {
    font-size: larger;
}

h1 {
    font-size: 40px;
    margin: 2px;
}

hr {
    color: lightgray;
    width:50%;
}