
main {
    margin-top: 50px;
}

.about-mobilist,
.our-company,
.chronologie,
.actualites {
    padding: 2%;
}

.content-mobilist p:first-of-type,
.content-company p:first-of-type,
.chronologie p:first-of-type,
.actualites h2 {
    font-family: "LL Circular",sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
    color: #5b627d;
}

.creer-compte button {
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
    outline: 0 solid transparent;
    border-radius: 10px;
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    color: #FFFFFF;
    z-index: 9999;
    border: 0;
    overflow: hidden;
}

.chiffres-clés {
    background-color: #f3f5fa;
    padding: 2%;
}

.chiffres-clés hr {
    color: #111;
    width: 50%;
    margin-top: 70px;
}

.content-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.description-numbers {
    padding-top: 5%;
    flex: 1;
    text-align: center;
    padding-right: 10%;
}

.title-numbers {
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.title-numbers h2 {
   font-size: 50px;
}

.numbers li {
    margin: 70px;
}

.numbers span {
    font-weight: bold;
    font-size: 50px;
    margin: 0 auto;
}

.numbers li:hover {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.card {
    visibility: hidden;
}