.accueil-admin {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.accueil-admin h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.recherche {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.recherche .form-control {
    width: 942px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.recherche .form-control-static {
    margin-bottom: 0px;
}


.recherche .form-horizontal {
    display: flex;
    gap: 5px;
}

.recherche .submit-button {
    padding: 10px 61px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #612bb7;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    justify-content: center;
}

.recherche .submit-button:hover {
    background-color: #b387e6;
}

.recherche .resultat_recherche a{
    color: black;
    text-decoration: none;
}

.proprios .resultat_recherche a {
    color: black;
    text-decoration: none;
}

.proprios .resultat_recherche a:hover {
    color: #612bb7
}

.resultat a {
    color: black;
    text-decoration: none; 
}

.resultat a:hover {
    color: #612bb7; 
}

.proprios div {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.resultat div {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.proprios .personne{
    margin-bottom: 20px;
}

.resultat li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    font-size: 1rem;
}

.bouton_inscrire {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.bouton_inscrire p a {
    padding: 10px 492px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #612bb7;
    color: #fff;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.bouton_inscrire{
    margin-top: 50px;
}

.bouton_inscrire a:hover {
    background-color: #b387e6;
}

.btn_supprimer {
    outline: none;
    box-shadow: none; 
    text-align: right;
}

.btn_supprimer a[data-bs-toggle="modal"] {
    text-decoration: none;
    background-color: #c50c0c;
    padding: 5px 8px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.btn_supprimer a[data-bs-toggle="modal"]:hover {
    background-color: #cf6060;
}


#ajtUtilisateur button {
    margin-top: 30px;
    margin-left: 115px;
}

.modal-body .form-control-static {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modal-body .form-control-static p {
    font-weight: bold;
    margin-bottom: 0%;
}

.modal-body .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
